.header-section {
  position: relative;
}

.custom-ellipse {
  position: absolute;
  width: 206.71px;
  height: 241px;
  left: 1469px;
  top: 51px;
  z-index: -1;

  background: linear-gradient(
    180deg,
    var(--primary-red) 0%,
    rgba(115, 115, 115, 0) 100%
  );
  filter: blur(75px);
  transform-origin: center;
  will-change: transform, opacity, filter;
}

.custom-ellipse-2 {
  position: absolute;
  width: 271.91px;
  height: 1569.27px;
  left: 1169px;
  top: 682px;

  background: linear-gradient(180deg, var(--primary-red) 0%, rgba(115, 115, 115, 0) 100%);
  filter: blur(75px);
  transform: matrix(-0.4, 0.92, 0.92, 0.4, 0, 0);
}

.custom-ellipse-3 {
  position: absolute;
  width: 306.71px;
  height: 341px;
  left: -264px;
  top: 200px;
  z-index: -1;

  background: linear-gradient(180deg, var(--primary-red) 0%, rgba(115, 115, 115, 0) 100%);
  filter: blur(75px);
  transform-origin: center;
  will-change: transform, opacity, filter;
}

@media screen and (max-width: 768px) {
  .custom-ellipse-3 {
    width: 350px;
    height: 350px;
  }
  .custom-ellipse{
    left: 300px;
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

.animate-ellipse-first {
  animation: moveVertical 30s ease infinite;
}

.animate-ellipse-second {
  animation: moveInCircle 20s reverse infinite;
}

.animate-ellipse-third {
  animation: moveInCircle 40s linear infinite;
}

.animate-ellipse-fourth {
  animation: moveHorizontal 40s ease infinite;
}

.animate-ellipse-fifth {
  animation: moveInCircle 20s ease infinite;
}
