.menu-bar {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid var(--accent);
}

.menu-bar a,
.menu-open p{
    cursor: pointer;
    color: white;
}


.menu-close p{
    cursor: pointer;
    color: black;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--neon-green);
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}


.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder  a {
    color: black;
    font-size: 80px;
    font-family: var(--font-italiana);
    letter-spacing: -0.02em;
    line-height: 85%;
}
