.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    will-change: clip-path, opacity;
    overflow: hidden;
    z-index: 9999;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform: translateZ(0);
}

.preloader p {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: -0.0125rem;
    line-height: 1.2;
    display: inline-block;
}

.preloader-revealer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) translateZ(0);
    width: 100%;
    aspect-ratio: 1;
    background-color: #5b553b;
    will-change: transform;
    z-index: 2;
    backface-visibility: hidden;
    transform-origin: center center;
}

.preloader-copy,
.preloader-copy-col,
.preloader-counter {
    flex: 1;
    display: flex;
    position: relative;
    z-index: 3;
}

.preloader-counter {
    justify-content: flex-end;
}

.preloader-copy p {
    width: 75%;
}

.line {
    will-change: transform;
    transform: translateY(120%) translateZ(0);
    overflow: hidden;
    backface-visibility: hidden;
    display: block;
}

@media (max-width: 1000px) {

    .preloader,
    .preloader-copy {
        flex-direction: column;
    }

    .preloader-revealer {
        width: 200%;
    }

    .preloader-copy-col {
        align-items: center;
    }

    .preloader-copy p {
        width: 100%;
    }

    .preloader-counter {
        align-items: center;
    }
}